<div block="basket-big" ng-controller="BasketController">

    <p elem="title">Ваши товары</p>

    <table elem="table">
        <thead>
        <tr>
            <th>Фото</th>
            <th>Название</th>
            <th>Марка</th>
            <th>Размер</th>
            <th>Кол-во</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="good in goods">
            <td>
                <a href="" elem="del-ico" ng-click="delete(good.goodID, good.sizeID)"><i></i></a>
                <div elem="img-cont">
                    <img src="%=staticPrefix=%img/content/test-img/boots.jpg" alt="">
                </div>
            </td>
            <td ng-bind="good.name"></td>
            <td ng-bind="good.brandName"></td>
            <td elem="size" ng-bind="sizeName"></td>
            <td>
                <p elem="number">
                    <i ng-click="decrement(good)">&#8249;</i>
                    <input type="text" size="2" maxlength="2" ng-model="good.count">
                    <i ng-click="increment(good)">&#8250;</i>
                </p>
            </td>
            <td elem="price"><span>{&#123;good.count * good.price}}<b class="rub">a</b></span></td>
        </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"><a href="#" elem="ready-to-buy">Оформить сделку</a></td>
                <td elem="total">Итого:</td>
                <td elem="total-number" ng-bind="getTotalCount()"></td>
                <td elem="total-sum" >{&#123;getTotalPrice()}} <b class="rub">a</b></td>
            </tr>
        </tfoot>
    </table>



</div><!--basket-big-->
