<!doctype html>
<!--[if IE 7]>
<html class="ie7 lt-ie10 lt-ie9 lt-ie8 no-js" lang="ru"><![endif]-->
<!--[if IE 8]>
<html class="ie8 lt-ie10 lt-ie9 no-js" lang="ru"><![endif]-->
<!--[if IE 9 ]>
<html class="ie9 lt-ie10 no-js" lang="ru"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="ru"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>title</title>
    <meta content="" name="author">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta content="telephone=no" name="format-detection">
    <meta name="robots" content="noodp, noydir">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers -->
    <meta name="HandheldFriendly" content="true">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <!--[if IE 8 ]><link href="/static/css/main_ie8.css" rel="stylesheet" type="text/css"><![endif]-->
    <!--[if IE 9 ]><link href="/static/css/main_ie9.css" rel="stylesheet" type="text/css"><![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!--><link href="/static/css/main.css" rel="stylesheet" type="text/css"><!--<![endif]-->
    
    
    <link rel="icon" type="image/png" href="favicon.png">
    <script>
        (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
    </script>
    <!--[if lt IE 9 ]><script src="/static/js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script><meta content="no" http-equiv="imagetoolbar"><![endif]-->
    <script src="/static/js/separate-js/bootstrap.min" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
</head>

<body class="page" ng-app="shoesPrj">

<section class="page__wrapper">

    <div class="page__header">
        <div class="header">
        
            <div class="header__logo">
                <p>Логотип1</p>
            </div>
            <div class="header__search-cont">
                <div class="search">
                
                    <form class="search__form" action="#" method="post">
                        <p class="search__input-cont"><input type="search" placeholder="Поиск по названию"><input type="submit" value=""></p>
                    </form>
                
                </div><!--search-->    </div>
        
            <div class="header__contact-info">
                <p class="header__phone">8 917 954-77-80</p>
                <a class="header__email" href="mailto:lindal@mail.ru">lindal@mail.ru</a>
            </div>
            <div class="header__user-name">
                <div class="user-name">
                
                
                
                
                    <ul class="user-name__menu">
                        <li><a class="user-name__user" href="/user-data-edit/user-data-edit.html">Иван М.</a></li>
                        <li><a class="user-name__order" href="/order/order.html">Заказы</a></li>
                        <li><a class="user-name__logout" href="#">Выйти</a></li>
                    </ul>
                
                </div><!--user-name-->    </div>
        
            <div class="header__user-ui">
                <div class="login" ng-show="isGuest" style="display: none">
                    <div class="login__invite">
                        <a class="login__entry js-open-login-form" href="" ng-click="login()">Войти</a>
                        <a class="login__registration" href="" ng-click="openPopup()">Зарегестрироваться</a>
                    </div>
                
                    <form class="login__form" action="#" method="post">
                        <label>
                            <span>Логин</span>
                            <input type="text" placeholder="Эл. почта">
                        </label>
                        <label>
                            <span>Пароль</span>
                            <input type="password" placeholder="Пароль">
                        </label>
                        <p class="login__forgot-pass"><a href="#">Забыл пароль</a></p>
                        <input type="submit" value="Войти">
                    </form>
                </div><!--login-->
                <div class="basket" ng-controller="BasketController" ng-show="!isGuest" style="display: none">
                    <div class="basket__header">
                        <p class="basket__price"><span>{&#123;getTotalPrice()}}</span><b class="rub">a</b></p>
                        <p class="basket__count"></p>
                    </div><!--basket__header-->
                
                    <div class="basket__wrapper">
                        <div class="basket__content">
                            <p class="basket__add-ok">Товар успешно добавлен в корзину!</p>
                            <div class="product-card-micro" data-basket-id="" ng-repeat="good in goods">
                                <div class="product-card-micro__img-cont">
                                    <img src="/static/img/content/test-img/boots.jpg" alt="">
                                </div>
                                <div class="product-card-micro__wrapper">
                                    <a class="product-card-micro__title" href="" ng-bind="good.name"></a>
                                    <table class="product-card-micro__info">
                                        <tr>
                                            <th>Размер</th>
                                            <th>Кол-во</th>
                                            <th>Цена</th>
                                        </tr>
                                        <tr>
                                            <td ng-bind="good.sizeName"></td>
                                            <td>
                                                <span class="product-card-micro__number">
                                                    <i class="js-basket-count-minus" ng-click="decrement(good)">&#8249;</i>
                                                    <input class="js-basket-count-input" type="text" size="2" maxlength="2" ng-model="good.count" ng-change="updateCount(good)">
                                                    <i class="js-basket-count-plus" ng-click="increment(good)">&#8250;</i>
                                                </span>
                                            </td>
                                            <td><span ng-bind="good.count * good.price">12312</span><b class="rub">a</b></td>
                                        </tr>
                                    </table>
                            
                                    <p style="display: none">
                                        <span class="product-card-micro__number">
                                          <i class="js-basket-count-minus" ng-click="decrement(good)">&#8249;</i>
                                          <input class="js-basket-count-input" type="text" size="2" maxlength="2" ng-model="good.count" ng-change="updateCount(good)">
                                          <i class="js-basket-count-plus" ng-click="increment(good)">&#8250;</i>
                                        </span>
                                        <span class="product-card-micro__size" ng-bind="good.sizeName"></span>
                                        <span class="product-card-micro__price"><span ng-bind="good.count * good.price">12312</span><b class="rub">a</b></span>
                                    </p>
                                </div>
                                <a class="product-card-micro__ico-del js-basket-delete" href="" ng-click="delete(good.goodID, good.sizeID)"><i></i></a>
                            </div><!--product-card-micro-->
                        </div><!--basket__content-->
                        <p class="basket__checkout"><a href="#">Оформить заказ</a></p>
                    </div><!--wrapper__content-->
                
                </div><!--basket-->
            </div>
        
        </div>
        <!--header-->
    </div><!--page__header-->

    <div class="page__content">

        <div class="content container">

            <div class="content__left-column">

                <div class="filter">
                    <p class="filter__title">Фильтры</p>
                    <form action="#" method="post">
                        <div class="filter__value">
                            <p class="filter__value-title filter__value-title_min-max">
                                <!-- 'mod:min-max' или 'mod:max-min' - зависит от направления сортировки -->
                                <a href="#">Торговая марка</a>
                                <span class="min-max">отсортированно А&ndash;Я, A&ndash;Z</span>
                                <span class="max-min">отсортированно Я&ndash;А, Z&ndash;A</span>
                            </p>
                
                            <p class="filter__value-cont">
                                <label>
                                    <input type="checkbox" name="brand[]" value="1" checked="checked"><span>Brand1</span>
                                </label>
                                <label>
                                    <input type="checkbox" name="brand[]" value="2"><span>Brand2</span>
                                </label>
                                <br>
                                <label class="filter__select-all"><input type="checkbox"><span>Выделить всё</span></label>
                            </p>
                        </div>
                
                        <div class="filter__value">
                            <p class="filter__value-title filter__value-title_min-max">
                                <a href="#">Размеры</a>
                                <span class="min-max">отсортированно 12&ndash;50</span>
                                <span class="max-min">отсортированно 50&ndash;12</span>
                            </p>
                
                            <p class="filter__value-cont">
                
                                <label>
                                    <input type="checkbox" name="size[]" value="1" checked="checked"><span>Size1</span>
                                </label>
                                <label>
                                    <input type="checkbox" name="size[]" value="2"><span>Size2</span>
                                </label>
                                <br>
                                <label class="filter__select-all"><input type="checkbox"><span>Выделить всё</span></label>
                            </p>
                        </div>
                
                        <div class="filter__value">
                            <p class="filter__value-title filter__value-title_min-max">
                                <a href="#">Сезон</a>
                                <span class="min-max">отсортированно Лето → Весна-Осень → Зима</span>
                                <span class="max-min">отсортированно Зима → Весна-Осень → Лето</span>
                            </p>
                
                            <p class="filter__value-cont">
                                <label>
                                    <input type="checkbox" name="seasons[]" value="1" checked="checked"><span>Лето</span>
                                </label>
                                <label>
                                    <input type="checkbox" name="seasons[]" value="2"><span>Зима</span>
                                </label>
                                <label>
                                    <input type="checkbox" name="seasons[]" value="3"><span>Весна-Осень</span>
                                </label>
                                <br>
                                <label class="filter__select-all"><input type="checkbox"><span>Выделить всё</span></label>
                            </p>
                        </div>
                
                        <div class="filter__value">
                            <p class="filter__value-title filter__value-title_min-max">
                                <a href="#">Пол</a>
                                <span class="min-max">отсортированно Мальчик → Девочка → Универсальные</span>
                                <span class="max-min">отсортированно Универсальные → Девочка → Мальчик</span>
                            </p>
                
                            <p class="filter__value-cont">
                                <label>
                                    <input type="checkbox" name="genders[]" value="1" checked="checked"><span>Мальчик</span>
                                </label>
                                <label>
                                    <input type="checkbox" name="genders[]" value="2"><span>Девочка</span>
                                </label>
                                <label>
                                    <input type="checkbox" name="genders[]" value="3"><span>Унисекс</span>
                                </label>
                              <br>
                              <label class="filter__select-all"><input type="checkbox"><span>Выделить всё</span></label>
                            </p>
                        </div>
                
                    </form>
                    <p class="filter__result">Найдено: <span>132</span></p>
                
                </div><!--filter-->

            </div><!--content__left-column-->

            <div class="content__main-column" ng-controller="GoodsController">
                <div class="product-card">
                
                  <div class="product-card__img-cont">
                    <img alt="" src="/static/img/content/test-img/boots.jpg">
                  </div>
                
                  <p class="product-card__price">
                    <span>
                      3213
                      <b class="rub">c</b>
                    </span>
                    <!-- ₽ -->
                    <a class="product-card__add-to-cart" href="" title="Добавить в корзину">
                      <i></i>
                    </a>
                    <span class="product-card__size-list">
                        <a href="" data-good-id="1" data-size-id="1" ng-click="addInBasket(1, 1, 'Name', '#', 'url', '3213', 'size1', 'brand1')">size1</a><br>
                        <a href="" data-good-id="1" data-size-id="2" ng-click="addInBasket(1, 2, 'Name', '#', 'url', '3213', 'size2', 'brand1')">size2</a><br>
                    </span>
                  </p>
                  <div class="product-card__limiter">
                    <p class="product-card__title">
                      <a href="#">Name</a>
                    </p>
                    <p class="product-card__brand">
                      <abbr title="Торговая марка">ТM</abbr>:
                      brand1</p>
                    <p class="product-card__sex">
                      <span class="product-card__strong">Пол:</span>
                      Мальчик
                    </p>
                    <p class="product-card__size">
                      <span class="product-card__oversize">
                        <span class="product-card__strong">Размеры:
                        </span>
                        <span>
                            size1,
                            size2,
                        </span>
                      </span>
                    </p>
                    <!--если больше 6-7 размеров то добавить класс oversize-->
                    <p class="product-card__season">
                      <span class="product-card__strong">Сезон:</span>
                      Лето
                    </p>
                  </div>
                
                </div>
                <!--product-card-->
                <br class="content__clear">

            </div><!--content__main-column-->

        </div><!--content-->

    </div><!--page__content-->

    <div class="popup" ng-controller="AuthController" ng-show="showPopup" style="display: none">
        <div class="popup__wrapper">
            <div class="popup__content">
    <div class="registration" ng-hide="!checkState('reg')">
        <i class="registration__close-ico" ng-click="closePopup()"></i>
    
        <p class="registration__title">Регистрация <a href="" ng-click="setState('login')">Авторизация</a></p>
        <form class="registration__form" action="#" method="post">
            <label><span>Имя</span><input type="text"></label>
            <label><span>Эл. почта</span><input type="email"></label>
            <label><span>Пароль</span><input type="password"></label>
            <p class="registration__submit-cont"><input type="submit" value="Зарегистрироваться"></p>
        </form>
    </div><!--registration-->    <div class="login2" ng-hide="!checkState('login')">
        <i class="login2__close-ico" ng-click="closePopup()"></i>
    
        <form class="login2__form" action="#" method="post">
            <p class="login2__title">Авторизация <a href="" ng-click="setState('reg')">Регистрация</a></p>
    
            <label><span>Эл. почта</span><input type="email"></label>
            <label><span>Пароль</span><input type="password"></label>
    
            <p class="login2__forgot-pass"><a href="" ng-click="setState('forgot')">Забыл пароль</a></p>
    
            <p class="login2__submit-cont"><input type="submit" value="Войти"></p>
    
        </form>
    </div><!--login-->    <div class="forgot-pass" ng-hide="!checkState('forgot')">
        <i class="forgot-pass__close-ico" ng-click="closePopup()"></i>
    
        <p class="forgot-pass__title">Востановление пароля</p>
        <form class="forgot-pass__form">
            <label><span>Эл. почта</span><input type="email"></label>
            <p class="forgot-pass__submit-cont"><input type="submit" value="Востановить пароль"></p>
        </form>
    </div><!--forgot-pass-->            </div>
        </div>
    </div><!--popup-->

    <div class="page__buffer"></div>

</section><!--page__wrapper-->

<div class="page__footer">
    <div class="footer"></div></div><!--page__footer-->

<script src="/static/js/main.js"></script>
</body>
</html>
