<div block="login2" ng-hide="!checkState('login')">
    <i elem="close-ico" ng-click="closePopup()"></i>

    <form action="{{action}}" method="{{method}}" elem="form">
        <p elem="title">Авторизация <a href="" ng-click="setState('reg')">Регистрация</a></p>

        <label><span>Эл. почта</span><input type="email" name="{{fields.login.name}}"></label>
        <label><span>Пароль</span><input type="password" name="{{fields.pass.name}}"></label>

        <p elem="forgot-pass"><a href="" ng-click="setState('forgot')">Забыл пароль</a></p>

        <p elem="submit-cont"><input type="submit" value="Войти"></p>

    </form>
</div><!--login-->
