<div class="basket-big" ng-controller="BasketController">

    <p class="basket-big__title">Ваши товары</p>

    <table class="basket-big__table">
        <thead>
        <tr>
            <th>Фото</th>
            <th>Название</th>
            <th>Марка</th>
            <th>Размер</th>
            <th>Кол-во</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="good in goods">
            <td>
                <a class="basket-big__del-ico" href="" ng-click="delete(good.goodID, good.sizeID)"><i></i></a>
                <div class="basket-big__img-cont">
                    <img src="/tmpl/builds/stable/static/img/content/test-img/boots.jpg" alt="">
                </div>
            </td>
            <td ng-bind="good.name"></td>
            <td ng-bind="good.brandName"></td>
            <td class="basket-big__size" ng-bind="good.sizeName"></td>
            <td>
                <p class="basket-big__number">
                    <i ng-click="decrement(good)">&#8249;</i>
                    <input type="text" size="2" maxlength="2" ng-model="good.count" ng-change="updateCount(good)">
                    <i ng-click="increment(good)">&#8250;</i>
                </p>
            </td>
            <td class="basket-big__price"><span>{&#123;good.count * good.price}}<b class="rub">a</b></span></td>
        </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"></td>
                <td class="basket-big__total">Итого:</td>
                <td class="basket-big__total-number" ng-bind="getTotalCount()"></td>
                <td class="basket-big__total-sum">{&#123;getTotalPrice()}} <b class="rub">a</b></td>
            </tr>
        </tfoot>
    </table>

</div><!--basket-big-->
