<div class="product-card-micro" data-basket-id="{{id}}" ng-repeat="good in goods">
    <div class="product-card-micro__img-cont">
        <img ng-src="{&#123;good.img}}" alt="">
    </div>
    <div class="product-card-micro__wrapper">
        <a class="product-card-micro__title" href="{{good.url}}" ng-bind="good.name">{{good.name}}</a>
        <table class="product-card-micro__info">
            <tr>
                <th>Размер</th>
                <th>Кол-во</th>
                <th>Цена</th>
            </tr>
            <tr>
                <td ng-bind="good.sizeName">{{size.name}}</td>
                <td>
                    <span class="product-card-micro__number">
                        <i class="js-basket-count-minus" ng-click="decrement(good)">&#8249;</i>
                        <input class="js-basket-count-input" type="text" size="2" maxlength="2" ng-model="good.count" ng-change="updateCount(good)">
                        <i class="js-basket-count-plus" ng-click="increment(good)">&#8250;</i>
                    </span>
                </td>
                <td><span ng-bind="good.count * good.price">{{totalPrice}}</span><b class="rub">a</b></td>
            </tr>
        </table>

        <p style="display: none">
            <span class="product-card-micro__number">
              <i class="js-basket-count-minus" ng-click="decrement(good)">&#8249;</i>
              <input class="js-basket-count-input" type="text" size="2" maxlength="2" ng-model="good.count" ng-change="updateCount(good)">
              <i class="js-basket-count-plus" ng-click="increment(good)">&#8250;</i>
            </span>
            <span class="product-card-micro__size" ng-bind="good.sizeName">{{size.name}}</span>
            <span class="product-card-micro__price"><span ng-bind="good.count * good.price">{{totalPrice}}</span><b class="rub">a</b></span>
        </p>
    </div>
    <a class="product-card-micro__ico-del js-basket-delete" href="" ng-click="delete(good.goodID, good.sizeID)"><i></i></a>
</div><!--product-card-micro-->
