.product-card-micro {
  height: 52px;
  font-size: 1.1rem;
  border: 1px solid $color-yellow-light;
  margin: 6px 6px;
  position: relative;
  //overflow: hidden;
  p {
    font-size: 1.1rem;
  }
  &__img-cont {
    width: 50px;
    height: 50px;
    position: relative;
    left: 0;
    top: 0;
    float: left;
    img {
      @include img-max-size(50px, 50px)
    }
  }
  &__wrapper {
    //border: 1px solid blue;
    margin-left: 54px;
    height: 52px;
    p {
      font-size: 1.8rem;
      color: #444;
    }
  }
  &__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    color: $color-pink;
    margin-top: 3px;
    margin-left: 4px;
    margin-bottom: 4px;
  }
  &__info {
    width: 100%;
    th {
      font-weight: normal;
      font-size: 1rem;
      color: #BBB;
      padding-bottom: 2px;
      //border-left: 1px solid #CCC;
      &:first-child {
        border-left: none;
      }
    }
    tr {
      td {
        //border-left: 1px solid #CCC;
        text-align: center;
        font-size: 1.2rem;
        color: #333;
        &:nth-child(3) {
          text-align: right;
          padding-right: 4px;
        }
        &:first-child {
          border-left: none;
        }
      }
    }
  }
  &__ico-del {
    display: block;
    position: absolute;
    left: 1px;
    top: 1px;
    @extend %icon;
    @include icon_size(10px);
    @extend %icon_close;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  &__number {
    input {
      border: none;
      width: 1.5em;
      text-align: center;
      position: relative;
      top: -1px;
    }
    i {
      font-style: normal;
      position: relative;
      top: -2px;
      margin-right: -3px;
      display: inline-block;
      font-size: 1.4rem;
      &:hover {
        cursor: pointer;
        color: #005b8d;
      }
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    input + i {
      margin-left: -3px;
    }
  }
}