<div block="product-card-micro" data-basket-id="{{id}}" ng-repeat="good in goods">
    <div elem="img-cont">
        <img src="%=staticPrefix=%img/content/test-img/boots.jpg" alt="">
    </div>
    <div elem="wrapper">
        <a href="{{good.url}}" elem="title" ng-bind="good.name">{{good.name}}</a>
        <p>
            <span elem="number">
              <i mix="block: js-basket-count-minus" ng-click="decrement(good)">&#8249;</i>
              <input type="text" size="2" maxlength="2" mix="block: js-basket-count-input" ng-model="good.count" ng-change="updateCount(good)">
              <i mix="block: js-basket-count-plus" ng-click="increment(good)">&#8250;</i>
            </span>
            <span elem="size" ng-bind="good.sizeName">{{size.name}}</span>
            <span elem="price"><span ng-bind="good.count * good.price">{{totalPrice}}</span><b class="rub">a</b></span>
        </p>
    </div>
    <a href="" elem="ico-del" mix="block: js-basket-delete" ng-click="delete(good.goodID, good.sizeID)"><i></i></a>
</div><!--product-card-micro-->
