.product-card-micro {
  //height: 42px;
  font-size: 1.1rem;
  border: 1px solid $color-yellow-light;
  margin: 6px 6px;
  position: relative;
  //overflow: hidden;
  p {
    font-size: 1.1rem;
  }
  &__img-cont {
    width: 40px;
    height: 40px;
    position: relative;
    left: 0;
    top: 0;
    float: left;
    img {
      @include img-max-size(40px, 40px)
    }
  }
  &__wrapper {
    //border: 1px solid blue;
    margin-left: 44px;
    height: 40px;
    p {
      font-size: 1.8rem;
      color: #444;
    }
  }
  &__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    color: $color-pink;
    margin-top: 1px;
    //&:hover {
    //  overflow: visible;
    //  white-space: normal;
    //  position: absolute;
    //}
  }
  &__price {
    float: right;
    margin-right: 6px;
  }
  &__size {
    width: 34px;
    display: inline-block;
    text-align: center;
  }
  &__ico-del {
    display: block;
    position: absolute;
    left: 1px;
    top: 1px;
    @extend %icon;
    @include icon_size(8px);
    @extend %icon_close;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  &__number {
    * {
      //border: 1px solid blue;
    }
    input {
      border: none;
      width: 1.4em;
      text-align: center;
    }
    i {
      font-style: normal;
      position: relative;
      top: -1px;
      margin-right: -4px;
      display: inline-block;
      &:hover {
        cursor: pointer;
        color: #005b8d;
      }
    }
    input + i {
      margin-left: -4px;
    }
    span {
      display: none;
    }
  }
}