.product {
  padding-right: 10px;
  &__title {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  &__img-cont {
    width: 500px;
    //height: 500px;
    float: left;
    img {
      @include img-max-size(500px, auto)
    }
  }
  &__description {
    margin-left: 520px;
    background-color: $color-yellow-light;
    padding: 14px;
    margin-bottom: 20px;
    display: block;
  }
  &__desc-table {
    font-size: 1.3rem;
    tr:first-child td {
      border-top: none;
    }
    td {
      padding: 6px 0 6px 6px;
      border-top: 1px solid #DDD;
    }
    td:first-child {
      vertical-align: top;
      font-weight: bold;
      color: #333;
      padding: 6px;
    }
  }
  &__price {
    font-size: 2rem;
    td {
      font-weight: normal !important;
    }
  }
  &__imgs-cont {
    margin-left: 520px;
    //background-color: $color-yellow-light;
    //padding: 14px;
    //display: inline-block;
    a {
      display: inline-block;
      //width: 100px;
      height: 116px;
      overflow: hidden;
      margin-right: 10px;
      padding: 8px;
      background-color: $color-yellow-light;
    }
    img {
      @include img-max-size(auto, 100px);
      vertical-align: middle;
    }
  }
}
