.delivery-address {
  padding: 8px;
  padding-top: 30px;
  &__title {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  &__form {
    padding-top: 8px;
    font-size: 1.3rem;
    p {
      font-size: 1.3rem
    }
    label {
      display: block;
      margin-bottom: 6px;
      span {
        width: 35%;
        display: inline-block;
        vertical-align: middle;
      }
      input {
        border-radius: 3px;
        border: 1px solid #CCC;
        padding: 2px 6px;
        vertical-align: middle;
        width: 62%;
        font-size: 1.2rem;
      }
    }
    hr {
      background-color: #CCC;
      margin: 14px 0 16px 0;
    }
    textarea {
      resize: vertical;
      border: 1px solid #CCC;
      padding: 2px 6px;
      font-size: 1.2rem;
      width: 100%;
    }
  }
}