<div block="registration" ng-hide="!checkState('reg')">
    <i elem="close-ico" ng-click="closePopup()"></i>

    <p elem="title">Регистрация <a href="" ng-click="setState('login')">Авторизация</a></p>
    <form elem="form" action="{{action}}" method="{{method}}">
        <label><span>Имя</span><input type="text" name="{{fields.name.name}}"></label>
        <label><span>Эл. почта</span><input type="email" name="{{fields.email.name}}"></label>
        <label><span>Пароль</span><input type="password" name="{{fields.pass.name}}"></label>
        <p elem="submit-cont"><input type="submit" value="Зарегистрироваться"></p>
    </form>
</div><!--registration-->
