/*------- Шапка -------*/
.header {
  position: relative;
  height: $header-height;
  z-index: 11;
  padding-left: 200px;
  padding-right: 220px;
  &__logo {
    background-color: $color-pink;
    height: $header-height;
    width: 200px;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    z-index: 11;
    p {
      text-transform: uppercase;
      color: #FFF;
      line-height: $header-height;
      font-size: 3.2rem;
      letter-spacing: 0.05em;
      font-weight: bold;
    }
    a {
      color: #FFF;
      text-decoration: none;
      &:hover {
        color: #EEE;
      }
    }
  }
  &__search-cont {
    float: left;
    height: $header-height;
    width: 40%;
    //min-width: 260px;
    //border-right: 1px solid red;
  }
  &__contact-info {
    float: left;
    height: $header-height;
    text-align: center;
    padding: 5px 10px;
    width: 40%;
    //border-right:1px solid red;
  }
  &__phone {
    font-size: 2.4rem;
    line-height: 1;
    color: #555;
  }
  &__email {
    font-size: 1.3rem;
  }
  &__user-name {
    width: 20%;
    border-left: 1px solid #CCC;
    float: left;
    text-align: center;
    height: $header-height - 4px;
    line-height: $header-height - 4px;
    font-size: 1.9rem;
    margin-top: 2px;
    @include at(lg) {
      position: fixed;
      right: 220px;
      width: 12%;
    }
  }
  &__user-ui {
    position: fixed;
    right: 0;
    top: 0;
    width: 220px;
    height: $header-height;
  }
}
/*-----Шапка-конец-----*/
